<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Gambia Participates Admin Dashboard</title>

  	{% include 'dashboard/layout/head.html' %}
</head>
<body>
	<div class="main-wrapper">

		<!-- partial:partials/_sidebar.html -->
    {% include 'dashboard/layout/sidebar.html' %}
		<!-- partial -->


		<div class="page-wrapper">

			<!-- partial:partials/_navbar.html -->
     		 {% include 'dashboard/layout/nav.html' %}

			<!-- partial -->
			<div class="page-content">
				{% block content %}

				{% endblock %}
			</div>

			<!-- partial:partials/_footer.html -->
			{% include 'dashboard/layout/footer.html' %}
			<!-- partial -->

		</div>
	</div>

    {% include 'dashboard/layout/scripts.html' %}

</body>
</html>