{% load static %}

 <!-- Fonts -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
 <!-- End fonts -->

	<!-- core:css -->
	<link rel="stylesheet" href="{% static 'dashboard/vendors/core/core.css' %}">
	<!-- endinject -->

	<!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'dashboard/vendors/flatpickr/flatpickr.min.css' %}">
	<!-- End plugin css for this page -->

	<!-- inject:css -->
	<link rel="stylesheet" href="{% static 'dashboard/fonts/feather-font/css/iconfont.css' %}">
	<link rel="stylesheet" href="{% static 'dashboard/vendors/flag-icon-css/css/flag-icon.min.css' %}">
	<!-- endinject -->

  <!-- Layout styles -->
	<link rel="stylesheet" href="{% static 'dashboard/css/demo1/style.css' %}">
  <!-- End layout styles -->

  <link rel="shortcut icon" href="{% static 'dashboard/images/logo.png' %}" />

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="{% static 'dashboard/css/nucleo-icons.css" rel="stylesheet' %}" />
  <link href="{% static 'dashboard/css/nucleo-svg.css" rel="stylesheet' %}" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round' %}" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'dashboard/css/material-dashboard.css?v=3.0.4' %}" rel="stylesheet" />