{% extends 'dashboard/layout/base.html' %}

{% load static %}

{% block content %}



<div class="row mb-20">


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th scope="col">Employed date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">6</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">7</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>

      <tr>
        <th scope="row">10</th>
        <td>Musa Jallow</td>
        <td>IT Manager</td>
        <td>Active</td>
        <td>10/10/10</td>
      </tr>
    </tbody>
  </table>

  <div></div>

{%endblock%}