{% extends 'dashboard/layout/base.html' %}

{% load static %}

{% block content %}

<div class="row">

  {% include 'dashboard/pages/dashboard_alerts.html' %}


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">price</th>
        <th scope="col">purchase_date</th>
      </tr>
    </thead>
    <tbody>

        {% for inventory in inventories %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{inventory.name}}</td>
        <td>{{inventory.quantity}}</td>
        <td>{{inventory.price}}</td>
        <td>{{inventory.purchase_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}