
{% extends 'website/layout/base.html' %}

{% load static %}

{% block content%}

        <!-- Slider Section Start -->
        <div class="rs-slider style4 pt-100 pb-100">
            <div class="container">
                <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0"
                    data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
                    data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false"
                    data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false"
                    data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="1"
                    data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="1"
                    data-md-device-nav="true" data-md-device-dots="false">
                    <div class="slider-img">
                        <img src="{% static 'website/images/project/slide/eom1.png' %}" alt="Slider">
                    </div>
                    <div class="slider-img">
                        <img src="{% static 'website/images/project/slide/eom2.png' %}" alt="Slider">
                    </div>
                    <div class="slider-img">
                        <img src="{% static 'website/images/project/slide/eom3.png' %}" alt="Slider">
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Section End -->


        <!-- Project Section Start -->
        <div class="rs-project pb-110 md-pt-70 md-pb-7">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 pr-60 md-pr-15">
                        <div class="sec-title mb-64">
                            <h2 class="title title4 pb-30">
                                About Project
                            </h2>
                            <p class="margin-0">European languages are members of the same family. The languages only
                                differ in their grammar, their pronu nciation and their most common words. pronunciation
                                and more common words. If several languages coalesce. over the years, sometimes by
                                accident, sometimes on purpose. Over the years, sometimes by accident, sometimes on
                                purpose. European languages are members of the same family. The languages only differ in
                                their grammar, their pronu nciation and their most common words. pronunciation and more
                                common words. If several languages coalesce. </p>
                        </div>
                        <!-- Counter Section End -->
                        <div class="rs-counter style1 project-single bg23">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="counter-area">
                                            <div class="counter-list mb-20">
                                                <div class="counter-icon">
                                                    <img src="{% static 'website/images/counter/icons/1.png' %}" alt="Counter">
                                                </div>
                                                <div class="counter-number">
                                                    <span class="rs-count">582</span>
                                                </div>
                                            </div>
                                            <div class="content-part">
                                                <h5 class="title">Projects completed for our clients.</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="counter-area">
                                            <div class="counter-list mb-20">
                                                <div class="counter-icon">
                                                    <img src="{% static 'website/images/counter/icons/2.png' %}" alt="Counter">
                                                </div>
                                                <div class="counter-number">
                                                    <span class="rs-count">215</span>
                                                    <span class="prefix">+</span>
                                                </div>
                                            </div>
                                            <div class="content-part">
                                                <h5 class="title">Experienced serving to clients.</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="counter-area">
                                            <div class="counter-list mb-20">
                                                <div class="counter-icon">
                                                    <img src="{% static 'website/images/counter/icons/3.png' %}" alt="Counter">
                                                </div>
                                                <div class="counter-number">
                                                    <span class="rs-count">6</span>
                                                    <span class="prefix">+</span>
                                                </div>
                                            </div>
                                            <div class="content-part">
                                                <h5 class="title">Month for the completion.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Counter Section End -->
                    </div>
                    <div class="col-lg-4">
                        <div class="project-information bg24">
                            <div class="sec-title">
                                <h2 class="title title4 pb-30">
                                    Project information
                                </h2>
                                <div class="title-inner mb-25">
                                    <h4 class="title-small">Category</h4>
                                    <p class="margin-0">Civic</p>
                                </div>
                                <div class="title-inner mb-25">
                                    <h4 class="title-small">Donor</h4>
                                    <p class="margin-0">IRI</p>
                                </div>
                                <div class="title-inner mb-25">
                                    <h4 class="title-small">Completed Date</h4>
                                    <p class="margin-0">20 - 04 - 2021</p>
                                </div>
                                <div class="title-inner mb-25">
                                    <h4 class="title-small">Project Lead</h4>
                                    <p class="margin-0">Marr Nyang</p>
                                </div>
                                <div class="title-inner">
                                    <h4 class="title-small">Location</h4>
                                    <p class="margin-0">Banjul, The Gambia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Section End -->


        <!-- About Section Start -->
        <div class="rs-about pb-110 md-pb-70">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 pr-50 md-pr-15">
                        <div class="sec-title">
                            <h2 class="title title4 pb-30">
                                Project goals
                            </h2>
                            <p class="margin-0 pb-30">European languages are members of the same family. The languages
                                only differ in their grammar, their pronu nciation and their most common words.
                                sometimes by accident, sometimes on purpose. European languages are members of the same
                                family. </p>
                            <ul class="dots">
                                <li>Digital how will activities impact traditional manufacturing.</li>
                                <li>All these digital elements and projects aim to enhance .</li>
                                <li>I monitor my staff with software that takes screenshots.</li>
                                <li>Laoreet dolore magna sodium glutimate hendrerit.</li>
                                <li>Veniam Minim quis niacin sodium nostrud exerci dolor.</li>
                            </ul>
                            <p class="margin-0">Pronunciation and more common words. If several languages coalesce. over
                                the years, sometimes by accident, sometimes on purpose. Over the years, sometimes by
                                purpose.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="images-part">
                            <img src="{% static 'website/images/project/eomgoals.png' %}" alt="Images">
                        </div>
                    </div>
                </div>
                <div class="final-outcome pt-100">
                    <div class="row y-middle">
                        <div class="col-lg-6">
                            <div class="rs-videos choose-video">
                                <div class="images-video">
                                    <img src="{% static 'website/images/project/eomfinal.png' %}" alt="Images">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pl-50 md-pl-15">
                            <div class="sec-title">
                                <h2 class="title title4 pb-30">
                                    Final outcome of this project
                                </h2>
                                <p class="margin-0 pb-30">The languages only differ in their grammar, their pronu
                                    nciation and their most common words. sometimes by accident, sometimes on purpose.
                                    European languages are members of the same family european languages are members of
                                    the same family.</p>
                                <ul class="dots">
                                    <li>How will digital activities impact traditional manufacturing.</li>
                                    <li>All these digital elements and projects aim to enhance .</li>
                                    <li>I monitor my staff with software that takes screenshots.</li>
                                    <li>Dolore magna niacin sodium aliquam hendrerit.</li>
                                    <li>Minim veniam quis niacin nostrud exerci dolor.</li>
                                </ul>
                                <p class="margin-0">If several languages coalesce. over the years, sometimes by
                                    accident, sometimes on purpose. Over the years, sometimes by accident, on purpose.
                                    European languages are of the same family are members of the same family. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->


{% endblock %}
