{% load static %}


<footer id="rs-footer" class="rs-footer style1">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                    <div class="footer-logo mb-40">
                        <a href="index.html"><img src="{% static 'website/images/wgp.png' %}" alt=""></a>
                    </div>
                    <div class="textwidget white-color pb-40">
                        <p>{{footer.footer_summary}}</p>
                    </div>
                    <ul class="footer-social md-mb-30">
                        <li>
                            <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a>
                        </li>
                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a>
                        </li>

                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a>
                        </li>
                        <li>
                            <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                    <h3 class="footer-title">Our Partners</h3>
                    <ul class="site-map">
                        <li><a href="https://www.iri.org/iri-around-the-world/africa/the-gambia/" target="_blank">IRI - Gambia</a></li>
                        <li><a href="https://gm.usembassy.gov/" target="_blank">Us Embassy - Banjul</a></li>
                        <li><a href="">ATJLF</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                    <h3 class="footer-title">Contact Info</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="flaticon-location"></i>
                            <div class="desc">{{contact.address_one}}<br>
                                {{contact.address_two}} The Gambia</div>
                        </li>
                        <li>
                            <i class="flaticon-call"></i>
                            <div class="desc">
                                <a href="">{{contact.telephone_line_1}}</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="desc">
                                <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-clock-1"></i>
                            <div class="desc">
                                Office Hours: 8:30AM - 4:30PM
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h3 class="footer-title">Newsletter</h3>
                    <p class="widget-desc white-color">Stay up to date with our latest news.</p>
                    <p>
                        <input type="email" name="EMAIL" placeholder="Your email address" required="">
                        <input type="submit" value="Subscribe Now">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
                    <ul class="copy-right-menu">
                        <li><a href="{% url 'homepage'%}">Home</a></li>
                        <li><a href="{% url 'aboutus'%}">About</a></li>
                        <li><a href="{% url 'faqs'%}">Faqs</a></li>
                        <li><a href="{% url 'contactus'%}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="copyright text-lg-start text-center ">
                        <p>© 2022 Gambia Participates All Right.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
