{% load static %}

<div class="topbar-area style1">
    <div class="container custom">
        <div class="row y-middle">
            <div class="col-lg-7">
                <div class="topbar-contact">
                    <ul>
                        <li>
                            <i class="flaticon-email"></i>
                            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        </li>
                        <li>
                            <i class="flaticon-call"></i>
                            <a href=""> {{contact.telephone_line_1}}</a>
                        </li>
                        <li>
                            <i class="flaticon-location"></i>
                            {{contact.address_one}} , {{contact.address_two}} The Gambia
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 text-right">
                <div class="toolbar-sl-share">
                    <ul>
                        <li class="opening"> <em><i class="flaticon-clock"></i>Monday - Friday / 8:30AM -
                                4:30PM</em> </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>