
{% extends 'website/layout/base.html' %}

{% load static %}

{% block content %}

            <!-- About Section Start -->
            <div class="rs-about pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container custom">
                    <div class="row">
                        <div class="col-lg-6 md-mb-50">
                            <div class="images-part">
                                <img src="{% static 'website/images/about/about-4.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="col-lg-6 pl-60 md-pl-15">
                            <div class="sec-title">
                                <h2 class="title pb-22">
                                    WHO WE ARE
                                </h2>
                                <p class="margin-0 pt-15">
                                    Gambia Participates is a youth-led civil society organization that focuses on enhancing transparency and accountability in the public sector. We are work in the area of Anti-corruption, fighting against corruption in The Gambia by leveraging modern digital tools and other methods to track the expenditures of the government, and to engage people on these expenditures.</p>
                            </div>
                            <!-- Counter Section End -->
                            <div class="rs-counter style1 pt-60">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 xs-mb-30">
                                        <div class="counter-area">
                                            <div class="counter-list mb-37">
                                                <div class="counter-icon">
                                                    <img src="{% static 'website/images/counter/icons/1.png' %}" alt="Counter">
                                                </div>
                                                <div class="counter-number">
                                                    <span class="rs-count">20</span>
                                                </div>
                                            </div>
                                            <div class="content-part">
                                                <h5 class="title">Projects completed.</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="counter-area">
                                            <div class="counter-list mb-37">
                                                <div class="counter-icon">
                                                    <img src="{% static 'website/images/counter/icons/3.png' %}" alt="Counter">
                                                </div>
                                                <div class="counter-number">
                                                    <span class="rs-count">10</span>
                                                    <span class="prefix">+</span>
                                                </div>
                                            </div>
                                            <div class="content-part">
                                                <h5 class="title">Experienced staffs.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter Section End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Section End -->

            <!-- Services Section End -->
            {% comment %} <div class="rs-services style3 gray-bg pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="sec-title mb-60">
                        <h2 class="title">
                            Our roadmap for your<br> business success
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-50">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'website/images/services/style3/1.png' %}" alt="Services">
                                </div>
                                <div class="services-content">
                                    <h2 class="services-title"><a href="services-style1.html">Develop vision & <br> objectives</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in porttitor theo lacus egestas your process .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-50">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'website/images/services/style3/2.png' %}" alt="Services">
                                </div>
                                <div class="services-content">
                                    <h2 class="services-title"><a href="services-style1.html">Understanding existing <br> process</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in porttitor theo lacus egestas your process .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-50">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'website/images/services/style3/3.png' %}" alt="Services">
                                </div>
                                <div class="services-content">
                                    <h2 class="services-title"><a href="services-style1.html">Identify change <br> levels</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in porttitor theo lacus egestas your process .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 md-mb-50">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'website/images/services/style3/4.png' %}" alt="Services">
                                </div>
                                <div class="services-content">
                                    <h2 class="services-title"><a href="services-style1.html">Implement new <br> process</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in porttitor theo lacus egestas your process .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-mb-50">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'website/images/services/style3/5.png' %}" alt="Services">
                                </div>
                                <div class="services-content">
                                    <h2 class="services-title"><a href="services-style1.html">Evaluate the new <br> process</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in porttitor theo lacus egestas your process .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'website/images/services/style3/6.png' %}" alt="Services">
                                </div>
                                <div class="services-content">
                                    <h2 class="services-title"><a href="services-style1.html">Ongoing continuas <br> improvment</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in porttitor theo lacus egestas your process .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- Services Section End -->

            <!-- Partner Section Start -->
            {% include 'website/pages/partner_slide.html' %}
            <!-- Partner Section End -->

{% endblock %}