
{% extends 'website/layout/base.html' %}

{% load static %}

{% block content %}

        <!-- Process Section Start -->
        {% comment %} <div class="rs-process style1 careers-style pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container custom">
                <div class="sec-title text-center">
                    <h2 class="title title2">
                        Why career with us
                    </h2>
                </div>
                <div class="process-effects-layer">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 md-mb-30">
                            <div class="rs-addon-number">
                                <div class="number-part">
                                    <div class="number-image">
                                        <img src="{% static 'website/images/careers/icons/1.png' %}" alt="Process">
                                    </div>
                                    <div class="number-text">
                                        <div class="number-area"> <span class="number-prefix"> 1 </span></div>
                                        <div class="number-title">
                                            <h3 class="title">Friendly environment</h3>
                                        </div>
                                        <div class="number-txt">
                                            Quisque placerat vitae focus scelerisque. Fusce luctus odio ac nibh luctus,
                                            in porttitor.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 md-mb-30">
                            <div class="rs-addon-number">
                                <div class="number-part">
                                    <div class="number-image">
                                        <img src="{% static 'website/images/careers/icons/2.png' %}" alt="Process">
                                    </div>
                                    <div class="number-text">
                                        <div class="number-area"> <span class="number-prefix"> 2 </span></div>
                                        <div class="number-title">
                                            <h3 class="title">Planning</h3>
                                        </div>
                                        <div class="number-txt">
                                            Quisque placerat vitae focus scelerisque. Fusce luctus odio ac nibh luctus,
                                            in porttitor.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 sm-mb-30">
                            <div class="rs-addon-number">
                                <div class="number-part">
                                    <div class="number-image">
                                        <img src="{% static 'website/images/careers/icons/3.png' %}" alt="Process">
                                    </div>
                                    <div class="number-text">
                                        <div class="number-area"> <span class="number-prefix"> 3 </span></div>
                                        <div class="number-title">
                                            <h3 class="title">Execute</h3>
                                        </div>
                                        <div class="number-txt">
                                            Quisque placerat vitae focus scelerisque. Fusce luctus odio ac nibh luctus,
                                            in porttitor.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="rs-addon-number">
                                <div class="number-part">
                                    <div class="number-image">
                                        <img src="{% static 'website/images/careers/icons/4.png' %}" alt="Process">
                                    </div>
                                    <div class="number-text">
                                        <div class="number-area"> <span class="number-prefix"> 4 </span></div>
                                        <div class="number-title">
                                            <h3 class="title">Deliver</h3>
                                        </div>
                                        <div class="number-txt">
                                            Quisque placerat vitae focus scelerisque. Fusce luctus odio ac nibh luctus,
                                            in porttitor.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Video Item Section Start -->
                <div class="rs-videos pt-100 md-pt-70">
                    <div class="rs-videos choose-video careers-video">
                        <div class="images-video"></div>
                        <div class="animate-border">
                            <div class="video-desc"> Intro of our company</div>
                            <a class="popup-border" href="#">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Video Item Section End -->
            </div>
        </div> {% endcomment %}
        <!-- Process Section End -->

        {% if careers %}
        <!-- Process Section Start -->
        <div class="rs-process style2 gray-bg2 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container custom">
                <div class="row y-middle mb-50">

                    <div class="col-lg-5">
                        <div class="sec-title md-mb-30">
                            <h2 class="title">
                                Job opportunities
                            </h2>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="btn-part text-right md-left">
                            <a class="readon consultant discover" href="{% url 'aboutus' %}">Discover Gambia Participates</a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    {% for career in careers %}
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="rs-addon-number">
                            <div class="number-part">
                                <div class="number-area"> <span class="number-prefix"> {{forloop.counter}}. </span></div>
                                <div class="number-title">
                                    <h3 class="title">{{career.job_title}}</h3>
                                </div>
                                <div class="number-txt">
                                    {{career.job_description}}
                                    <div class="loac-text">
                                        <strong>Location:</strong> {{career.job_location}}
                                    </div>
                                </div>
                                <div class="btn-part">
                                    <a class="readon apply" href="">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% comment %} <div class="col-lg-4 col-md-6 mb-30">
                        <div class="rs-addon-number">
                            <div class="number-part">
                                <div class="number-area"> <span class="number-prefix"> 02. </span></div>
                                <div class="number-title">
                                    <h3 class="title">UI/UX Developer</h3>
                                </div>
                                <div class="number-txt">
                                    Quisque placerat vitae focus scelet risque. Fusce luctus odio ac nibh luctus, in
                                    porttitor data.
                                    <div class="loac-text">
                                        <strong>Location:</strong> London, UK
                                    </div>
                                </div>
                                <div class="btn-part">
                                    <a class="readon apply" href="">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="rs-addon-number">
                            <div class="number-part">
                                <div class="number-area"> <span class="number-prefix"> 03. </span></div>
                                <div class="number-title">
                                    <h3 class="title">Web Developer</h3>
                                </div>
                                <div class="number-txt">
                                    Quisque placerat vitae focus scelet risque. Fusce luctus odio ac nibh luctus, in
                                    porttitor data.
                                    <div class="loac-text">
                                        <strong>Location:</strong> London, UK
                                    </div>
                                </div>
                                <div class="btn-part">
                                    <a class="readon apply" href="">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 md-mb-30">
                        <div class="rs-addon-number">
                            <div class="number-part">
                                <div class="number-area"> <span class="number-prefix"> 04. </span></div>
                                <div class="number-title">
                                    <h3 class="title">Project Management</h3>
                                </div>
                                <div class="number-txt">
                                    Quisque placerat vitae focus scelet risque. Fusce luctus odio ac nibh luctus, in
                                    porttitor data.
                                    <div class="loac-text">
                                        <strong>Location:</strong> London, UK
                                    </div>
                                </div>
                                <div class="btn-part">
                                    <a class="readon apply" href="">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30">
                        <div class="rs-addon-number">
                            <div class="number-part">
                                <div class="number-area"> <span class="number-prefix"> 05. </span></div>
                                <div class="number-title">
                                    <h3 class="title">Database Design</h3>
                                </div>
                                <div class="number-txt">
                                    Quisque placerat vitae focus scelet risque. Fusce luctus odio ac nibh luctus, in
                                    porttitor data.
                                    <div class="loac-text">
                                        <strong>Location:</strong> London, UK
                                    </div>
                                </div>
                                <div class="btn-part">
                                    <a class="readon apply" href="">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="rs-addon-number">
                            <div class="number-part">
                                <div class="number-area"> <span class="number-prefix"> 06. </span></div>
                                <div class="number-title">
                                    <h3 class="title">React Developer</h3>
                                </div>
                                <div class="number-txt">
                                    Quisque placerat vitae focus scelet risque. Fusce luctus odio ac nibh luctus, in
                                    porttitor data.
                                    <div class="loac-text">
                                        <strong>Location:</strong> London, UK
                                    </div>
                                </div>
                                <div class="btn-part">
                                    <a class="readon apply" href="">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}

                </div>
            </div>
        </div>
        <!-- Process Section End -->
        {% endif %}

        <!-- Appointment Section Start -->
        <div class="rs-appointment style1 apply-career">
            <div class="appoint-schedule">
                <div class="row margin-0">
                    <div class="col-lg-6 padding-0 appoint-img"></div>
                    <div class="col-lg-6 padding-0">
                        <div class="contact-wrap">
                            <div class="sec-title mb-50">
                                <h2 class="title white-color">
                                    Apply to join our amazing<br>
                                    youth <span class="new-text"> team</span>
                                </h2>
                            </div>
                            <div id="form-messages"></div>
                            <form id="contact-form" method="post" action="mailer.php">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-xs-12 mb-30">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input id="text" name="your name" class="form-control-mod" type="text"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 mb-30">
                                            <div class="form-group">
                                                <label>E-Mail</label>
                                                <input id="email" name="email" class="form-control-mod" type="text"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 mb-30">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input id="phone" name="phone" class="form-control-mod" type="text"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 mb-30">
                                            <div class="form-group">
                                                <label>Apply position</label>
                                                <input id="position" name="position" class="form-control-mod"
                                                    type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-6 mb-30">
                                            <div class="form-group">
                                                <label>Your Resume</label>
                                                <span class="wpcf7-form-control-wrap resume">
                                                    <input type="file" name="resume" size="40"
                                                        class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required"
                                                        required>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-35">
                                            <textarea class="from-control" id="message" name="message"
                                                placeholder="Your message Here" required></textarea>
                                        </div>
                                    </div>
                                    <div class="btn-part">
                                        <div class="form-group mb-0">
                                            <input class="readon submit" type="submit" value="Submit Now">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment Section End -->
{% endblock %}