{% extends 'website/layout/base.html' %}

{% load static %}

{% block content %}

        <!-- Faq Section Start -->
        <div id="rs-faq" class="rs-faq pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-5 pr-40 md-pr-15 md-mb-50">
                        <div class="sec-title">
                            <h2 class="title pb-30">
                                Do you have<br>
                                questions?
                            </h2>
                            <p class="margin-0">Nor is there anyone who loves or pursues or desires to obtain pain of
                                itself, because it is pain, but occasionally circumstances occur in which toil and pain
                                can procure him some great pleasure. Creation timelines for the digital consulting
                                business theme 2021 bstandard lorem ipsum passage vary, with some citing the 15th
                                century and others the 20th.</p>
                            <div class="btn-part mt-50">
                                <a class="readon consultant discover" href="{% url 'aboutus'%}">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 pl-30 md-pl-15">
                        <div class="faq-content">
                            <div id="accordion" class="accordion">

                                {% for faq in faqs %}
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" href="#" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true">{{faq.question_asked}} ?</a>
                                    </div>
                                    <div id="collapse{{forloop.counter}}" class="collapse show" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            {{faq.question_answer}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faq Section End -->

{% endblock %}