
{% extends 'website/layout/base.html' %}

{% load static %}

{% block content %}

        <!-- Project Section Start -->
        <div class="rs-project style2 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">

                <div class="gridFilter mb-50 md-mb-30 text-center">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".filter1">Fiscal Transparency</button>
                    <button data-filter=".filter2">Anti-Corruption</button>
                    <button data-filter=".filter3">Election</button>
                </div>

                <div class="row grid">

                    <div class="col-lg-4 col-md-6 mb-30 grid-item filter3">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg3.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Election</a></span>
                                    <h3 class="title"><a href="">2022 presidential Election</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30 grid-item filter3">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg2.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Election</a></span>
                                    <h3 class="title"><a href="">Election Watch</a></h3>
                                </div>
                            </div>
                          </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30 grid-item filter3">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg3.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Election</a></span>
                                    <h3 class="title"><a href="">Election Insight</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 md-mb-30 grid-item filter3">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg4.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Election</a></span>
                                    <h3 class="title"><a href="">Election Night</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter3">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg5.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Election</a></span>
                                    <h3 class="title"><a href="">Election 2022</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter1">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg6.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter1">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg7.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter1">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg8.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 grid-item filter1">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg9.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter1">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg10.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter1">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg11.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter1">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg12.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30 grid-item filter2">
                        <div class="project-item">
                            <div class="project-img">
                                <img src="{% static 'website/images/project/style1/gg13.png' %}" alt="images">
                            </div>
                            <div class="project-content">
                                <a class="p-icon" href=""><i class="custom-icon"></i></a>
                                <div class="project-inner">
                                    <span class="category"><a href="">Fiscal Transparency</a></span>
                                    <h3 class="title"><a href="">Sensitization</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- Project Section End -->

{% endblock %}