{% load static %}

<!-- Partner Section Start -->
            <div class="rs-patter-section pt-80 pb-75">
                <div class="container custom">
                    <div class="rs-carousel owl-carousel"
                        data-loop="true"
                        data-items="5"
                        data-margin="30"
                        data-autoplay="true"
                        data-hoverpause="true"
                        data-autoplay-timeout="5000"
                        data-smart-speed="800"
                        data-dots="false"
                        data-nav="false"
                        data-nav-speed="false"

                        data-md-device="5"
                        data-md-device-nav="false"
                        data-md-device-dots="false"
                        data-center-mode="false"

                        data-ipad-device2="4"
                        data-ipad-device-nav2="false"
                        data-ipad-device-dots2="false"

                        data-ipad-device="4"
                        data-ipad-device-nav="false"
                        data-ipad-device-dots="false"

                        data-mobile-device="2"
                        data-mobile-device-nav="false"
                        data-mobile-device-dots="false">
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/IRI.png' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/IRI.png' %}" title="" alt="">
                            </a>
                        </div>
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/CODE.png' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/CODE.png' %}" title="" alt="">
                            </a>
                        </div>
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/ATJLF.png' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/ATJLF.png' %}" title="" alt="">
                            </a>
                        </div>
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/ESA.png' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/ESA.png' %}" title="" alt="">
                            </a>
                        </div>
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/A4ID.jpg' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/A4ID.jpg' %}" title="" alt="">
                            </a>
                        </div>
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/NED.png' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/NED.png' %}" title="" alt="">
                            </a>
                        </div>
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/TANGO.png' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/TANGO.png' %}" title="" alt="">
                            </a>
                        </div>
                        <div class="logo-img">
                            <a href="">
                                <img class="hovers-logos rs-grid-img" src="{% static 'website/images/partner/main-home/USE.png' %}" title="" alt="">
                                <img class="mains-logos rs-grid-img " src="{% static 'website/images/partner/main-home/USE.png' %}" title="" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Partner Section End -->