{% extends 'website/layout/base.html' %}

{% load static %}

{% block content %}

        <!-- Iconbox Area Section Start -->
        <div id="rs-iconbox-area" class="rs-iconbox-area pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container custom">
                <div class="row y-middle">

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/IRI.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> To be a voice of the legal community community.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/A4ID.jpg' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> To be a voice of the legal community community.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/ATJLF.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> Helping organizations move forward and impact lives.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/CODE.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> Helping organizations move forward and impact lives.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/NED.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> Helping organizations move forward and impact lives.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/USE.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> Helping organizations move forward and impact lives.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/ESA.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> Helping organizations move forward and impact lives.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'website/images/partner/main-home/TANGO.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> Helping organizations move forward and impact lives.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Iconbox Area Section End -->


        <!-- Contact Section Start -->
        <div class="rs-contact contact-style2 pt-95 pb-100 md-pt-65 md-pb-70">
            <div class="container">
                <div class="sec-title2 mb-55 md-mb-35 text-center">
                    <div class="sub-text">Reach Out Now</div>
                    <h2 class="title mb-0">Do you want to help our organization to<br> move<span>forward.</span></h2>
                </div>
                <div class="row y-middle">
                    <div class="col-lg-6 md-mb-50">
                        <div class="contact-img">
                            <img src="{% static 'website/images/contact/computer.jpg' %}" alt="Contact">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-wrap">
                            <div id="form-messages"></div>
                            <form id="contact-form" method="post" action="mailer.php">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="name" name="name"
                                                placeholder="Name" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="email" name="email"
                                                placeholder="E-Mail" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="phone" name="phone"
                                                placeholder="Phone Number" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="Website" name="subject"
                                                placeholder="Your Website" required="">
                                        </div>

                                        <div class="col-lg-12 mb-30">
                                            <textarea class="from-control" id="message" name="message"
                                                placeholder="Your message Here" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="btn-part">
                                        <div class="form-group mb-0">
                                            <input class="readon submit" type="submit" value="Submit Now">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->

{% endblock %}