{% extends 'website/layout/base.html' %}

{% load static %}

{% block content %}

        <!-- Team Start -->
        <div id="rs-team" class="rs-team style3 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">

                <!-- Board Members -->
                <div class="row">

                    <h2 class="title mb-0 md-pb-20 text-center mb-5">BOARD MEMEBERS</span>
                    </h2>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/fatoujawo.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Fatoumatta Jawo</a>
                                    </div>
                                    <span class="post">Chairperson</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/john.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">John Njie</a>
                                    </div>
                                    <span class="post">Advisor</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/male.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Bakary Fatty</a>
                                    </div>
                                    <span class="post">Advisor</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Staffs -->
                <div class="row">

                    <h2 class="title mb-0 md-pb-20 text-center mb-5">STAFFS</span>
                    </h2>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/marr_nyang.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Marr Nyang</a>
                                    </div>
                                    <span class="post">Founder and Executive Director</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/abdou.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Abdou Jallow</a>
                                    </div>
                                    <span class="post"> Admin and Finance Manager</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/annetta.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Annetta B.V Mahoney</a>
                                    </div>
                                    <span class="post">Programs Manager</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 md-mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/male.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Musa A Jallow</a>
                                    </div>
                                    <span class="post">ICT Manager & Graphic Designer</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-mb-30">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/female.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Fatoumatta Tambajang</a>
                                    </div>
                                    <span class="post"> Programs Officer</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/female.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Fanta Sanneh</a>
                                    </div>
                                    <span class="post">Programs Assistant</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/marabi.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Marabi Amfall Hydara</a>
                                    </div>
                                    <span class="post">Social Media Officer</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/female.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Aja Sirreh Touray</a>
                                    </div>
                                    <span class="post">CSO Liaison Officer</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/female.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Fatou J Badjie</a>
                                    </div>
                                    <span class="post">Accounts Assistant</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <a href=""><img src="{% static 'website/images/team/male.png' %}" alt=""></a>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">Malang Jarju</a>
                                    </div>
                                    <span class="post">Driver</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% for team in teams %}
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            {% if team.picture %}
                            <div class="team-img">
                                <a href=""><img src="{% static 'media/team/{{team.picture}}' %}" alt=""></a>
                            </div>
                            {%else%}
                            <div class="team-img">
                                {% if team.gender == 'male' %}
                                <a href=""><img src="{% static 'website/images/team/male.png' %}" alt=""></a>
                                {% else %}
                                <a href=""><img src="{% static 'website/images/team/female.png' %}" alt=""></a>
                                {% endif %}
                            </div>
                            {% endif %}

                            <div class="team-content">
                                <div class="team-info">
                                    <div class="name">
                                        <a href="">{{team.name}}</a>
                                    </div>
                                    <span class="post">{{team.role}}</span>
                                </div>
                                <ul class="social-icon">
                                    <li><a href="{{team.facebook}}"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="{{team.google}}"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="{{team.twitter}}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="{{team.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
        <!-- Team end -->

{% endblock %}